[Desktop Entry]
Name=Time register
Comment=Register work time
Exec=/home/george/git/TimeRegister/start.sh
Icon=
Terminal=false
Type=Application
Categories=Utility;Application;
